{% extends "pacientes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load json_tag %}

{% block content %}
<head>
    <title></title>
    <!-- Inclua o CSS do Bootstrap -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <!-- Inclua a biblioteca Chart.js -->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js" integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Inclua a biblioteca Chart.js Plugin Labels -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-labels@2.0.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels@0.1.4/dist/chartjs-plugin-piechart-outlabels.min.js" integrity="sha256-yVxLw9A3MN0xzvzu6ByJRFAGgGH1ALIfgfuMURm3Bnc=" crossorigin="anonymous"></script>-->

<script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<script>
    $(document).ready(function (){
        var searchBtn = $('#search-btn')
        var palavraBtn = $('#palavra')

        $(searchBtn).onclick('click', function (){
            palavraBtn.submit();
        });
    });
</script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cormorant+SC:wght@700&family=Tourney:wght@700&display=swap');

        .card {
        position: relative;
        display: flex;
        flex-direction: row;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        padding: 10px 20px 20px 5px;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }
    .paciente_nome {
      font-size: 20px;
      letter-spacing: 0.64px;
      margin-left: 40px;

    }

        .custom-btn {
          width: 130px;
          height: 40px;
          padding: 10px 10px;
          border: 2px solid #000;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
        }

        .btn-margin {
            /*margin: 0 0 0 ;*/

        }
        .bold700{
            /*font-family: 'Bungee Shade', cursive;*/
            font-family: 'Fira Code Medium', serif;
            /*font-family: 'Tourney', cursive;*/
            color: #66a1e8;

        }
        .btn-1 {
          transition: all 0.3s ease;
        }
        .btn-1:hover {
           box-shadow:
           -7px -7px 20px 0px #fff9,
           -4px -4px 5px 0px #fff9,
           7px 7px 20px 0px #0002,
           4px 4px 5px 0px #0001;
          background: #66a1e8;
            color: #FFFFFF;
        }
        .btn-2 {
          transition: all 0.3s ease;
        }
        .btn-2:hover {
           box-shadow:
           -7px -7px 20px 0px #fff9,
           -4px -4px 5px 0px #fff9,
           7px 7px 20px 0px #0002,
           4px 4px 5px 0px #0001;
          background: #3CB371;
            color: #FFFFFF;
        }
    </style>
    <link rel="stylesheet" href="{% static '/vendor/fontawesome-free/css/all.min.css' %}">
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-body"><br>
            <h1 class="bold700 text-center">
                <b>FILTROS</b>
            </h1>
            <div class="row">
            <div class="col-md-12 content-center-m">
                <form action="." method="get"> <!-- Substitua 'processar_formulario.php' pelo seu script de processamento -->
                    <div class="form-group">
                        <label for="opcao"></label>
                        <select class="form-control" name="opcao" id="opcao">
                            <option value=""></option>
                            <option value="opcao1">ANTECEDENTES FAMILIARES</option>
                            <option value="opcao2">LESAO DE CARIE PRIMARIA DENTE 18</option>
                            <option value="opcao3">RAÇA</option>
                            <option value="opcao4">GRAU DE INSTRUÇÃO</option>
                            <option value="opcao5">CIDADE MAIS COMUM</option>
                            <option value="opcao6">FAIXA ETÁRIA FEMININA</option>
                            <option value="opcao7"></option>
                        </select>
                    </div>
                     <div class="d-flex justify-content-lg-end">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
                <hr>
            </div>
        </div>
            {% if opcao == 'opcao1' %}
            <div class="text-center">
                 <a class="bold700"  style="text-decoration:none; font-size: 200%">
                    ANTECEDENTES FAMILIARES ENTRE TODOS OS PACIENTES
                </a>
                <hr>
                <br>
            </div>
            <div class="row">
                    <div class="col container text-center">
                        <div class="row">
                                <canvas id="ANTECENDENTES_FAMILIARES_GERAL" style="max-width: 200%;"></canvas>
                        </div>
<!--                        <a class="bold700"  style="text-decoration:none; font-size: 200%">{{opcao | upper}} : </a>-->
<!--                        <a class="bold700"  style="text-decoration:none; font-size: 200%">{{entrada | upper}}</a>-->
                        {% if most_common_variavel != VAZIO %}
                            <a class="bold700"  style="text-decoration:none; font-size: 200%">...</a>
                        {% endif %}
                    </div>
            </div>
                <div class="text-center">
                    <hr>
                     <a class="bold700"  style="text-decoration:none; font-size: 200%">
                        ANTECEDENTES FAMILIARES POR SEXO BIOLOGICO
                    </a>
                </div>
            <div class="row">
                <div class="col-md-6 container text-center">
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">FEMININO</a>
                    <hr>
                    <div class="row">
                                <canvas id="ANTECEDENTES_FEMININO" style="max-width: 200%;"></canvas>
                    </div>
                </div>
                <div class="col-md-6 container text-center">
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">MASCULINO</a>
                    <hr>
                    <div class="row">
                                <canvas id="ANTECEDENTES_MASCULINO" style="max-width: 200%;"></canvas>
                    </div>
                </div>
            </div>
            <div class="text-center">
                    <hr>
                     <a class="bold700"  style="text-decoration:none; font-size: 200%">
                        TIPO DE DOENÇA DOS PACIENTES COM ANTECENDENTES FAMILIARES POR SEXO BIOLÓGICO
                    </a>
                </div>
            <div class="row">
                <div class="col-md-6 container text-center">
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">FEMININO</a>
                    <hr>
                    <div class="row">
                                <canvas id="TIPO_ANTECEDENTES_FEMININO" style="max-width: 200%;"></canvas>
                    </div>
                </div>
                <div class="col-md-6 container text-center">
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">MASCULINO</a>
                    <hr>
                    <div class="row">
                                <canvas id="TIPO_ANTECEDENTES_MASCULINO" style="max-width: 200%;"></canvas>
                    </div>
                </div>
            </div>
            <div class="text-center">
                    <hr>
                     <a class="bold700"  style="text-decoration:none; font-size: 200%">
                        FAIXA ETÁRIA DOS PACIENTES COM ANTECENDENTES FAMILIARES POR SEXO BIOLÓGICO
                    </a>
                </div>
            <div class="row">
                <div class="col-md-6 container text-center">
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">FEMININO</a>
                    <hr>
                    <div class="row">
                                <canvas id="FAIXA_ETARIA_ANTECEDENTES_FEMININO" style="max-width: 200%;"></canvas>
                    </div>
                </div>
                <div class="col-md-6 container text-center">
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">MASCULINO</a>
                    <hr>
                    <div class="row">
                                <canvas id="FAIXA_ETARIA_ANTECEDENTES_MASCULINO" style="max-width: 200%;"></canvas>
                    </div>
                </div>
            </div>
            {% endif %}
                 {% if opcao == 'opcao2' %}
            <div class="text-center">
                 <a class="bold700"  style="text-decoration:none; font-size: 200%">
                PACIENTES COM LESÃO DE CARIE PRIMARIA NO DENTE 18 POR SEXO BIOLÓGICO
            </a>
            </div>
            <div class="row">
                <div class="col-md-6 container text-center">
                    <br>
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">FEMININO {{percent_fem | upper}} %</a>
                    <br>
                    <div class="row">
                            <canvas id="LESAO_CARIE_PRIMARIA_FEMININO" style="max-width: 200%;"></canvas>
                    </div>
                    <hr>
                </div>
                 <div class="col-md-6 container text-center">
                    <br>
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">MASCULINO {{percent_masc | upper}} %</a>
                    <br>
                    <div class="row">
                            <canvas id="LESAO_CARIE_PRIMARIA_MASCULINO" style="max-width: 200%;"></canvas>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="text-center">
                 <a class="bold700"  style="text-decoration:none; font-size: 200%">
                    FAIXA ETARIA DOS PACIENTES COM CARIE PRIMARIA NO DENTE 18 POR SEXO BIOLÓGICO
                </a>
            </div>
            <div class="row">
                <div class="col-md-6 container text-center">
                    <br>
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">FEMININA</a>
                    <br>
                    <div class="row">
                            <canvas id="FAIXA_ETARIA_FEMININO" style="max-width: 200%;"></canvas>
                    </div>
                    <hr>
                </div>
                <div class="col-md-6 container text-center">
                    <br>
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">MASCULINO</a>
                    <br>
                    <div class="row">
                            <canvas id="FAIXA_ETARIA_MASCULINO" style="max-width: 200%;"></canvas>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="text-center">
                 <a class="bold700"  style="text-decoration:none; font-size: 200%">
                    ETNIA DOS PACIENTES COM CARIE PRIMARIA NO DENTE 18 POR SEXO BIOLÓGICO
                </a>
            </div>
            <div class="row">
                <div class="col-md-6 container text-center">
                    <br>
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">FEMININA</a>
                    <br>
                    <div class="row">
                            <canvas id="ETNIA_FEMININO" style="max-width: 200%;"></canvas>
                    </div>
                    <hr>
                </div>
                <div class="col-md-6 container text-center">
                    <br>
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">MASCULINO</a>
                    <br>
                    <div class="row">
                            <canvas id="ETNIA_MASCULINO" style="max-width: 200%;"></canvas>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="text-center">
                 <a class="bold700"  style="text-decoration:none; font-size: 200%">
                    ESTADO CIVIL DOS PACIENTES COM CARIE PRIMARIA NO DENTE 18 POR SEXO BIOLÓGICO
                </a>
            </div>
            <div class="row">
                <div class="col-md-6 container text-center">
                    <br>
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">FEMININO</a>
                    <br>
                    <div class="row">
                            <canvas id="ESTADO_CIVIL_FEMININO" style="max-width: 200%;"></canvas>
                    </div>
                    <hr>
                </div>
                <div class="col-md-6 container text-center">
                    <br>
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">MASCULINO</a>
                    <br>
                    <div class="row">
                            <canvas id="ESTADO_CIVIL_MASCULINO" style="max-width: 200%;"></canvas>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="text-center">
                 <a class="bold700"  style="text-decoration:none; font-size: 200%">
                    GRAU DE INSTRUÇÃO DOS PACIENTES COM CARIE PRIMARIA NO DENTE 18 POR SEXO BIOLÓGICO
                </a>
            </div>
            <div class="row">
                <div class="col-md-6 container text-center">
                    <br>
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">FEMININO</a>
                    <br>
                    <div class="row">
                            <canvas id="GRAU_INSTRUÇÃO_FEMININO" style="max-width: 200%;"></canvas>
                    </div>
                    <hr>
                </div>
                <div class="col-md-6 container text-center">
                    <br>
                    <a class="bold700"  style="text-decoration:none; font-size: 200%">MASCULINO</a>
                    <br>
                    <div class="row">
                            <canvas id="GRAU_INSTRUÇÃO_MASCULINO" style="max-width: 200%;"></canvas>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
            {% endif %}
<!--            {% for paciente in pacientes.object_list %}-->
<!--            <hr>-->
<!--                <div class="row" >-->
<!--                    <div class="" style="margin-left: 40px">-->
<!--                            <i class="fa-solid fa-user"></i>-->
<!--                            <span class="paciente_nome bold700 text-left " >-->
<!--                                {% if opcao == 'opcao7' %}-->
<!--                                <a class="bold700" href="{% url 'paciente_detalhes' paciente.paciente.pk %}" style="text-decoration:none">{{paciente.paciente.nome | upper}}</a>-->
<!--    &lt;!&ndash;                            <span class="paciente_valor"><span>{{paciente.created_at | date:'d/m/Y'}}</span></span>&ndash;&gt;-->
<!--                                {% else %}-->
<!--                                <a class="bold700" href="{% url 'paciente_detalhes' paciente.pk %}" style="text-decoration:none">{{ paciente.nome | upper}}</a>-->
<!--                                {% endif%}-->
<!--                            </span>-->

<!--                    </div>-->
<!--                </div>-->
<!--            <hr>-->
<!--            {% endfor %}-->
<!--            <div class="pagination justify-content-center" style="display: flex; flex-direction: row ">-->
<!--                    <div>-->
<!--                        <li class="page-item" id="previus">-->
<!--                            <span class="step-links">-->
<!--                                {% if pacientes.has_previous %}-->
<!--                                    <a class="page-link" href="?page={{ pacientes.previous_page_number }}">-->
<!--                                        <i class="fa-solid fa-chevron-left" style="color: #000000;"></i>-->
<!--                                    </a>-->
<!--                                {% endif %}-->
<!--                            </span>-->
<!--                        </li>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <li class="page-item" id="next">-->
<!--                            <span class="step-links">-->
<!--                                {% if pacientes.has_next %}-->

<!--                                    <a class="page-link" href="?page={{ pacientes.next_page_number }}">-->
<!--                                        <i class="fa-solid fa-chevron-right" style="color: #000000;"></i>-->
<!--                                    </a>-->
<!--                                {% endif %}-->
<!--                            </span>-->
<!--                        </li>-->
<!--                    </div>-->
<!--            </div>-->
        </div>
    </div>

</div>
{% if opcao == 'opcao1' %}
<script>
    var ctx = document.getElementById('ANTECENDENTES_FAMILIARES_GERAL').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['COM ANTECEDENTES FAMILIARES', 'SEM ANTECEDENTES FAMILIARES'],
            datasets: [{
                data: [{{pacientes_com_count}}, {{pacientes_sem_count}}],
                backgroundColor: ['blue', 'red']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
        }
    });
</script>
<script>
    var ctx = document.getElementById('ANTECEDENTES_MASCULINO').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['COM ANTECEDENTES', 'SEM ANTECEDENTES'],
            datasets: [{
                data: [{{pacientes_masc_com}}, {{pacientes_masc_sem}}],
                backgroundColor: ['blue', 'red']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
        }
    });
</script>
<script>
    var ctx = document.getElementById('ANTECEDENTES_FEMININO').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['COM ANTECEDENTES', 'SEM ANTECEDENTES'],
            datasets: [{
                data: [{{pacientes_fem_com}}, {{pacientes_fem_sem}}],
                backgroundColor: ['blue', 'red']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
        }
    });
</script>
<script>
    var ctx = document.getElementById('TIPO_ANTECEDENTES_MASCULINO').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['GLAUCOMA', 'PARADA CARDIACA', 'AVC', 'DIABETES', 'HIPERTENSÃO', 'INFARTO', 'CANCER DE BOCA',
            'DOENÇA DE HUNTINGTON'],
            datasets: [{
                data: [{{pacientes_masc_glaucoma}}, {{pacientes_masc_parada_cardiaca}}, {{pacientes_masc_avc}},
    {{pacientes_masc_diabetes}}, {{pacientes_masc_hipertensao}}, {{pacientes_masc_infarto}},
    {{pacientes_masc_cancer_boca}}, {{pacientes_masc_huntington}}],
                backgroundColor: ['red', 'blue', 'green','gray', 'orange', 'violet', 'yellow',
                'pink']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
        }
    });
</script>
<script>
    var ctx = document.getElementById('TIPO_ANTECEDENTES_FEMININO').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['GLAUCOMA', 'PARADA CARDIACA', 'AVC', 'DIABETES', 'HIPERTENSÃO', 'INFARTO', 'CANCER DE BOCA',
            'DOENÇA DE HUNTINGTON'],
            datasets: [{
                data: [{{pacientes_fem_glaucoma}}, {{pacientes_fem_parada_cardiaca}}, {{pacientes_fem_avc}},
    {{pacientes_fem_diabetes}}, {{pacientes_fem_hipertensao}}, {{pacientes_fem_infarto}},
    {{pacientes_fem_cancer_boca}}, {{pacientes_fem_huntington}}],
                backgroundColor: ['red', 'blue', 'green','gray', 'orange', 'violet', 'yellow',
                'pink']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
        }
    });
</script>
    <script>
        var ctx = document.getElementById('FAIXA_ETARIA_ANTECEDENTES_FEMININO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['JOVEM', 'ADULTO', 'IDOSO'],
                datasets: [{
                    data: [{{jovem_fem}}, {{adulto_fem}}, {{idoso_fem}}],
                    backgroundColor: ['green', 'orange', 'red']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
        <script>
        var ctx = document.getElementById('FAIXA_ETARIA_ANTECEDENTES_MASCULINO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['JOVEM', 'ADULTO', 'IDOSO'],
                datasets: [{
                    data: [{{jovem_masc}}, {{adulto_masc}}, {{idoso_masc}}],
                    backgroundColor: ['green', 'orange', 'red']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
{% endif %}
{% if opcao == 'opcao2' %}
    <script>
        var ctx = document.getElementById('LESAO_CARIE_PRIMARIA_FEMININO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['SEM CARIE PRIMÁRIA', 'COM CARIE PRIMÁRIA'],
                datasets: [{
                    data: [{{qtd_fem_n}}, {{qtd_fem_s}}],
                    backgroundColor: ['blue', 'red']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('LESAO_CARIE_PRIMARIA_MASCULINO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['SEM CARIE PRIMÁRIA', 'COM CARIE PRIMÁRIA'],
                datasets: [{
                    data: [{{qtd_masc_n}}, {{qtd_masc_s}}],
                    backgroundColor: ['blue', 'red']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('FAIXA_ETARIA_FEMININO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['JOVEM', 'ADULTO', 'IDOSO'],
                datasets: [{
                    data: [{{jovem_fem}}, {{adulto_fem}}, {{idoso_fem}}],
                    backgroundColor: ['green', 'orange', 'red']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
        <script>
        var ctx = document.getElementById('FAIXA_ETARIA_MASCULINO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['JOVEM', 'ADULTO', 'IDOSO'],
                datasets: [{
                    data: [{{jovem_masc}}, {{adulto_masc}}, {{idoso_masc}}],
                    backgroundColor: ['green', 'orange', 'red']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
<script>
        var ctx = document.getElementById('ETNIA_FEMININO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['BRANCO', 'PARDO', 'INDIGENA', 'AMARELO', 'N.D.N'],
                datasets: [{
                    data: [{{branco_fem}}, {{pardo_fem}}, {{indigena_fem}},{{amarelo_fem}}, {{ndn_fem}}],
                    backgroundColor: ['green', 'orange', 'red','blue', 'violet']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('ETNIA_MASCULINO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['BRANCO', 'PARDO', 'INDIGENA', 'AMARELO','N.D.N'],
                datasets: [{
                    data: [{{branco_masc}}, {{pardo_masc}}, {{indigena_masc}},{{amarelo_masc}}, {{ndn_masc}}],
                    backgroundColor: ['green', 'orange', 'red','blue', 'violet']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('ESTADO_CIVIL_FEMININO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['SOLTEIRO', 'CASADO', 'SEPARADO', 'DIVORCIADO', 'VIUVO','NDN'],
                datasets: [{
                    data: [{{solteiro_fem}}, {{casado_fem}}, {{separado_fem}},{{divorciado_fem}}, {{viuvo_fem}}, {{ec_ndn_fem}}],
                    backgroundColor: ['green', 'orange', 'red','blue', 'violet', 'yellow']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
    <script>

        var ctx = document.getElementById('ESTADO_CIVIL_MASCULINO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['SOLTEIRO', 'CASADO', 'SEPARADO', 'DIVORCIADO', 'VIUVO','NDN'],
                datasets: [{
                    data: [{{solteiro_masc}}, {{casado_masc}}, {{separado_masc}},{{divorciado_masc}}, {{viuvo_masc}}, {{ec_ndn_masc}}],
                    backgroundColor: ['green', 'orange', 'red','blue', 'violet', 'yellow']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>

<!--    <script type="application/javascript">-->
<!--        var ctx = document.getElementById('CIDADES_FEMININO').getContext('2d');-->
<!--        var rotulos = JSON.parse('{{ labels_grafico |safe }}');-->
<!--        var ctx = document.getElementById('CIDADES_FEMININO').getContext('2d');-->
<!--        console.log('{{ labels_grafico}}');-->
<!--        console.log('{{ dados_grafico}}');-->

<!--        var data = {-->
<!--            labels: rotulos,-->
<!--            datasets: [{-->
<!--                data: JSON.parse('{{ dados_grafico |safe }}'),  // Usando os dados passados dinamicamente-->
<!--                backgroundColor: ['red', 'yellow', 'orange', 'pink']-->
<!--            }]-->
<!--        };-->

<!--        var myChart = new Chart(ctx, {-->
<!--            type: 'pie',-->
<!--            data: data,-->
<!--        });-->
<!--        // Dados dinâmicos da lista passados pelo Django-->
<!--        // var dados = {{ ocorrencias_fem|safe }};-->
<!--        // var rotulos = {{ cidades_fem|safe }};-->
<!--        //-->
<!--        //-->
<!--        // var largura = 300;-->
<!--        // var altura = 300;-->
<!--        // var raio = Math.min(largura, altura) / 2;-->
<!--        //-->
<!--        // var svg = d3.select("#grafico")-->
<!--        //     .attr("width", largura)-->
<!--        //     .attr("height", altura)-->
<!--        //     .append("g")-->
<!--        //     .attr("transform", "translate(" + largura / 2 + "," + altura / 2 + ")");-->
<!--        //-->
<!--        // var cor = d3.scaleOrdinal(d3.schemeCategory10);-->
<!--        //-->
<!--        // var arco = d3.arc()-->
<!--        //     .outerRadius(raio - 10)-->
<!--        //     .innerRadius(0);-->
<!--        //-->
<!--        // var pizza = d3.pie()-->
<!--        //     .sort(null)-->
<!--        //     .value(function(d) { return d; });-->
<!--        //-->
<!--        // var g = svg.selectAll(".arc")-->
<!--        //     .data(pizza(dados))-->
<!--        //     .enter().append("g")-->
<!--        //     .attr("class", "arc");-->
<!--        //-->
<!--        // g.append("path")-->
<!--        //     .attr("d", arco)-->
<!--        //     .style("fill", function(d, i) { return cor(i); });-->
<!--        //-->
<!--        // g.append("text")-->
<!--        //     .attr("transform", function(d) { return "translate(" + arco.centroid(d) + ")"; })-->
<!--        //     .attr("dy", ".35em")-->
<!--        //     .style("text-anchor", "middle")-->
<!--        //     .text(function(d, i) { return rotulos[i]; });-->
<!--    </script>-->
<script>
        var ctx = document.getElementById('GRAU_INSTRUÇÃO_FEMININO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['ANALFABETO', 'FUNDAMENTAL INCOMPLETO',
                    'FUNDAMENTAL COMPLETO','MEDIO INCOMPLETO', 'MEDIO COMPLETO', 'SUPERIOR INCOMPLETO',
                'SUPERIOR COMPLETO', 'MESTRADO', 'DOUTORADO', 'NDN'],
                datasets: [{
                    data: [{{analfabeto_fem}}, {{fundamental_incompleto_fem}},
                            {{fundamental_completo_fem}},
                            {{medio_incompleto_fem}},{{medio_completo_fem}}, {{superior_incompleto_fem}},
                            {{superior_completo_fem}}, {{mestrado_fem}}, {{doutorado_fem}}, {{gi_ndn_fem}}],
                    backgroundColor: ['red', 'blue', 'green','gray', 'orange', 'violet', 'yellow',
                    'pink', 'purple']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
<script>
        var ctx = document.getElementById('GRAU_INSTRUÇÃO_MASCULINO').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['ANALFABETO', 'FUNDAMENTAL INCOMPLETO',
                    'FUNDAMENTAL COMPLETO','MEDIO INCOMPLETO', 'MEDIO COMPLETO', 'SUPERIOR INCOMPLETO',
                'SUPERIOR COMPLETO', 'MESTRADO', 'DOUTORADO', 'NDN'],
                datasets: [{
                    data: [{{analfabeto_masc}}, {{fundamental_incompleto_masc}},
                            {{fundamental_completo_masc}},
                            {{medio_incompleto_masc}},{{medio_completo_masc}}, {{superior_incompleto_masc}},
                            {{superior_completo_masc}}, {{mestrado_masc}}, {{doutorado_masc}}, {{gi_ndn_masc}}],
                    backgroundColor: ['red', 'blue', 'green','gray', 'orange', 'violet', 'yellow',
                    'pink', 'purple']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1  // Pode ajustar esse valor para controlar a relação largura/altura
            }
        });
    </script>
{% endif %}
    <!-- Inclua o JavaScript do Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock content %}

