{% extends "pacientes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<body class="body">
    <div class="container" >
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
        </div>
        <div class="col-md-12 mx-auto">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h1>TELA INICIAL : PERFIL DO USUARIO</h1>
                 </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}