<!doctype html>
{% extends "pacientes/base_new.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>
    {% if user.funcionario %}
    <section id="inicio" style="background-color: #ffffff;">
        <div class="">
            <div id="profile">
                <div id="profile-dados">
                      <img src="media/{{user.funcionario.imagem}}" id="image-profile" alt="avatar" style="width: 150px;">
                      <h5 class="my-3">{{user.funcionario.nome | upper}}</h5>
                      <p class="text">FUNCIONÁRIO</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text">Nome Completo</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.funcionario.nome}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.funcionario.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text">Telefone 1</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.funcionario.telefone}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text">Telefone 2</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.funcionario.telefone}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text">Matricula</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.funcionario.matricula}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endif %}
{% endblock content %}