{% extends "pacientes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<body class="body">
    <div class="container" >
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
        </div>
        <div class="col-md-12 mx-auto">
<!--            <div class="card shadow mb-4">-->
<!--              <section style="background-color: #eee;">-->
<!--                <div class="card-body">-->
                  {% if user.funcionario %}
                 <section style="background-color: #ffffff;">
                        <div class="container py-5">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="card mb-4">
                                <div class="card-body text-center">
                                      <img src="media/{{user.funcionario.imagem}}" alt="avatar"
                                      class="rounded mx-auto d-block" style="width: 150px;">
                                      <h5 class="my-3">{{user.funcionario.nome}}</h5>
                                      <p class="text-muted mb-1">Funcionario</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="card mb-4">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Nome Completo</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.funcionario.nome}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.funcionario.email}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Telefone 1</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.funcionario.telefone}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Telefone 2</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.funcionario.telefone}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Matricula</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.funcionario.matricula}}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    {% elif user.discente %}
                      <section style="background-color: #eee;">
                        <div class="container py-5">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="card mb-4">
                                <div class="card-body text-center">
                                      <img src="media/{{user.discente.imagem}}"  alt="avatar"
                                      class="rounded mx-auto d-block" style="width: 150px;">
                                      <h5 class="my-3">{{user.discente.nome}}</h5>
                                      <p class="text-muted mb-1">Discente</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="card mb-4">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Nome Completo</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.discente.nome}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.discente.email}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Telefone 1</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.discente.telefone}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Telefone 2</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.discente.telefone}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Matricula</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.discente.matricula}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Periodo</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.discente.periodo}}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    {% elif user.docente %}
                  <section style="background-color: #eee;">
                        <div class="container py-5">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="card mb-4">
                                <div class="card-body text-center">
                                      <img src="media/{{user.docente.imagem}}" alt="avatar"
                                      class="rounded mx-auto d-block" style="width: 150px;">
                                      <h5 class="my-3">{{user.docente.nome}}</h5>
                                      <p class="text-muted mb-1">Docente</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="card mb-4">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Nome Completo</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.docente.nome}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.docente.email}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Telefone 1</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.docente.telefone}}</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Telefone 2</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">(##) ######-#####</p>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Matricula</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <p class="text-muted mb-0">{{user.docente.matricula}}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                  {% endif %}
                 </div>
            </div>
            </div>
        </div>
</body>
{% endblock content %}