
{% extends "pacientes/base_new.html" %}
{% load static %}
<!--{% load crispy_forms_tags %}-->
{% block content %}
<div id="pacientes_menu">
    <div class="link">
        <a href="{% url 'paciente_registrar' %}">
            <img class="img-fluid" src="{% static 'img/RP.png' %}" alt="Imagem Responsiva" width="100%">
        </a>
    </div>
    <div class="link">
        <a href="{% url 'pacientes' %}" >
            <img class="img-fluid" src="{% static 'img/LP.png' %}" alt="Imagem Reponsiiva" width="100%">
        </a>
    </div>
</div>
{% endblock content %}