
{% extends "pacientes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cormorant+SC:wght@700&family=Tourney:wght@700&display=swap');

        .card {
        position: relative;
        display: flex;
        flex-direction: row;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        padding: 10px 20px 20px 5px;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }
    .paciente_nome {
      font-size: 20px;
      letter-spacing: 0.64px;
      margin-left: 40px;

    }

        .custom-btn {
          width: 130px;
          height: 40px;
          padding: 10px 10px;
          border: 2px solid #000;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
        }

        .btn-margin {
            /*margin: 0 0 0 ;*/

        }
        .bold700{
            /*font-family: 'Bungee Shade', cursive;*/
            font-family: 'Fira Code Medium', serif;
            /*font-family: 'Tourney', cursive;*/
            color: #66a1e8;

        }
        .btn-1 {
          transition: all 0.3s ease;
        }
        .btn-1:hover {
           box-shadow:
           -7px -7px 20px 0px #fff9,
           -4px -4px 5px 0px #fff9,
           7px 7px 20px 0px #0002,
           4px 4px 5px 0px #0001;
          background: #66a1e8;
            color: #FFFFFF;
        }
        .btn-2 {
          transition: all 0.3s ease;
        }
        .btn-2:hover {
           box-shadow:
           -7px -7px 20px 0px #fff9,
           -4px -4px 5px 0px #fff9,
           7px 7px 20px 0px #0002,
           4px 4px 5px 0px #0001;
          background: #3CB371;
            color: #FFFFFF;
        }
    </style>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-body"><br>
            <h1 class="bold700 text-center">
                <b>PACIENTES</b>
            </h1>
                <div class="mr-1 text-right" style="padding: 20px 0 40px 40px">

                    <a href="{% url 'paciente_registrar' %}" class="btn custom-btn btn-2 btn-margin" type="button">
                        <span class="text-md-center "><i class="fa-solid fa-user-plus"></i></span>
                    </a>
                </div>
            <div class="mr-1 text-right" style="">
            </div>
            {% for paciente in pacientes.object_list %}
            <hr>
                <div class="row" >
                    <div class="" style="margin-left: 40px">
                            <i class="fa-solid fa-user"></i>
                            <span class="paciente_nome bold700 text-left " >
                                <a class="bold700" href="{% url 'paciente_detalhes' paciente.pk %}" style="text-decoration:none">{{paciente.nome | upper}}</a>
    <!--                            <span class="paciente_valor"><span>{{paciente.created_at | date:'d/m/Y'}}</span></span>-->
                            </span>

                    </div>
                </div>
            <hr>
            {% endfor %}
            <div class="navegacao">
                <nav class="naveg" style="background: #FFFFFF;">
                    <ul class="pagination justify-content-center" >
                        <li class="page-item " id="previus">
                            <span class="step-links">
                                {% if pacientes.has_previous %}
                                    <a class="page-link" href="?page={{ pacientes.previous_page_number }}">
                                        <img src="{% static 'img/next.png' %}" alt="" style="rotate: 180deg">
                                    </a>
                                {% endif %}
                            </span>
                        </li>
                        <li class="page-item " id="next">
                            <span class="step-links">
                                {% if pacientes.has_next %}
                                    <a class="page-link" href="?page={{ pacientes.next_page_number }}">
                                    <img src="{% static 'img/next.png' %}" alt="">
                                    </a>
                                {% endif %}
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
