.container-fluid{
    background-color: #FFF;
}
#esse {
    color:green;
}
.botao a {
    margin: 0.5%;
   
}
.botao_paciente {
    margin: 0.5%;

}
#link {
    color: black;
  text-decoration: none;

}
h1 {
  color: navy;
  margin-left: 30px;
}
img    {
    border-radius: 50%;
}