{% extends "pacientes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cormorant+SC:wght@700&family=Tourney:wght@700&display=swap');

        .custom-btn {
          width: 130px;
          height: 40px;
          padding: 10px 25px;
          border: 2px solid #000;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
        }

        .btn-margin {
            margin: 0 10px 0 10px;
        }
        .bold700{
            /*font-family: 'Bungee Shade', cursive;*/
            font-family: 'Fira Code Medium', serif;
            /*font-family: 'Tourney', cursive;*/
            color: #66a1e8;
        }
        .btn-1 {
          transition: all 0.3s ease;
        }
        .btn-1:hover {
           box-shadow:
           -7px -7px 20px 0px #fff9,
           -4px -4px 5px 0px #fff9,
           7px 7px 20px 0px #0002,
           4px 4px 5px 0px #0001;
          background: #66a1e8;
            color: #FFFFFF;
        }
        .btn-2 {
          transition: all 0.3s ease;
        }
        .btn-2:hover {
           box-shadow:
           -7px -7px 20px 0px #fff9,
           -4px -4px 5px 0px #fff9,
           7px 7px 20px 0px #0002,
           4px 4px 5px 0px #0001;
          background: #3CB371;
            color: #FFFFFF;
        }
    </style>
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-body" style="padding: 20px 40px 20px 40px"><br>
              <h1 class="bold700 text-center">
                <b>ANAMNESE</b>
            </h1>
            <div class="mr-1 text-right" style="padding: 20px 0 40px 40px">
                <a href="{% url 'anamnese_edit' anamnese.pk %}" class="btn custom-btn btn-2 btn-margin" type="button">
                    <span class="text">Atualizar</span>
                </a>
            </div>
                 <div class="form-row">
                    <div class="form-group col-md-4">
                        <label><b>Prontuario</b></label>
                        <div>{{ object.prontuario }}</div>
<!--                        <input type="text" class="form-control" value="{{ object.prontuario }}" disabled>-->
                    </div>
                    <div class="form-group col-md-4">
                        <label><b>Atualizado Em</b></label>
                        <div>{{ object.updated_at}}</div>
<!--                        <input type="text" class="form-control" value="{{ object.updated_at}}" name="updated_at" disabled>-->
                    </div>
                    <div class="form-group col-md-4">
                        <label><b>Criado Em</b></label>
                        <div>{{ object.created_at}}</div>
<!--                        <input type="text" class="form-control" value="{{ object.created_at}}" name="created_at" disabled>-->
                    </div>
                </div>
                            <div class="row">
                <div class="form-group col-md-4">
                    <label><b>Paciente</b></label>
                    <div>{{ paciente.nome}}</div>
                </div>
            </div>

                <div class="form-row">

                </div>
                <div class="form-row">

                </div>
                <div class="form-row">

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label><b>Anamnese</b></label>
                        <div>{{ object.anamnese }}</div>
                    </div>
                </div>
            <div class="mr-1 text-right">
                <a href="{% url 'paciente_detalhes' paciente.pk %}" class="custom-btn btn-1 btn" type="button">
                    <span class="text">Anterior</span>
                </a>
                <a href="{% url 'inf_sau_sis_detalhes' inf_sau.pk %}" class="custom-btn btn-1 btn btn-margin" type="button">
                    <span class="text">Próximo</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}