{% extends "pacientes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <style>
    .container {
        align-content: center;
    }
    .img-fluid {
            width: 5%;
            position: relative;
            margin-left: 0;
            top: 2%;
            left: 5%;
            right: 5%;
            background-size: 20px;

            transition: all 1.0s;
            cursor: pointer;
    }
    .img-fluid{
        transition: all 0.2s;
        cursor: pointer;
        /*border: 5px solid transparent;*/
    }
    .img-fluid:hover{
        /*-webkit-transform: scale(1.5);*/
        transform: translate(0%, -15%);

        /*border: 2px solid #136497;*/
        /*border-radius: 5%;*/
    }
    </style>
    <div class="container">
         {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
         {% endif %}
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800"></h1>
            </div>
        <section>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h1 class="mb-3 text-primary">
                        <b></b>
                    </h1>
                    <div class="row">
                        <div class="col-sm">
                            <div class="img">
                                <a href="#" title="#" >
                                        <img class="img-fluid" id="d18" src="{% static 'img/img_new/dentadura-sup-18.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-17.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-16.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-15.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-14.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-13.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-12.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-11.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-21.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-22.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-23.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-24.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-25.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-26.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-27.png' %}">
                                        <img class="img-fluid" src="{% static 'img/img_new/dentadura-sup-28.png' %}">
                                    </a>
                            </div>
                            </div>
                        </div>
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <div class="img">
                                <a href="" title="">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-48.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-47.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-46.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-45.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-44.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-43.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-42.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-41.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-31.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-32.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-33.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-34.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-35.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-36.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-37.png' %}" alt="Imagem Responsiva">
                                    <img class="img-fluid" src="{% static 'img/img_new/dentadura-inf-38.png' %}" alt="Imagem Responsiva">
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h1 class="mb-3 text-primary">
                        <b>{{ dente.nome }}</b>
                    </h1>
                </div>
            </div>
        </section>
    </div>
 </html>

<script>
    function abreLink(){
	    window.location.href="1001";
    }
    var dente18 = document.getElementById("d18");
    dente18.addEventListener('click', function (){
        onclick="abreLink();"
    });
</script>
{% endblock content%}