{% extends "pacientes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-body"><br>
            <h1 class="mb-3 text-primary">
                <b>ODONTOGRAMA INICIAL</b>
            </h1>
            <div class="card shadow mb-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Data Cadastro</th>
                            <th scope="col">Nome</th>
                        </tr>
                    </thead>
                    {% for odontograma in odontograma_inicial %}
                     <tbody class="link">
                        <td>{{ odontograma }}</td>
                        <td><a id="link" href="#">{{odontograma.diagnostico.dente.nome | upper}}</a></td>
                     </tbody>
                    {% endfor %}
                </table>
<!--            <form>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-4">-->
<!--                        <label>Prontuario</label>-->
<!--                        <input type="text" class="form-control" value="{{ object.prontuario }}" disabled>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-4">-->
<!--                        <label>Atualizado em:</label>-->
<!--                        <input type="text" class="form-control" value="{{ object.updated_at}}" name="updated_at" disabled>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-4">-->
<!--                        <label>Data</label>-->
<!--                        <input type="text" class="form-control" value="{{ object.created_at}}" name="created_at" disabled>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-4">-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-4">-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-4">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>{{ object.diagnostico.dente.dente.nome }}</b></label>-->
<!--                        <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.diagnostico.dente }}"-->
<!--                                  disabled>{{ object.diagnostico.dente }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>21</b></label>-->
<!--                           <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d21 }}"-->
<!--                                  disabled>{{ object.d21 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>17</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d17 }}"-->
<!--                                  disabled>{{ object.d17 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>22</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d22 }}"-->
<!--                                  disabled>{{ object.d22 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>16</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d16 }}"-->
<!--                                  disabled>{{ object.d16 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>23</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d23 }}"-->
<!--                                  disabled>{{ object.d23 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>15</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d15 }}"-->
<!--                                  disabled>{{ object.d15 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>24</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d24 }}"-->
<!--                                  disabled>{{ object.d24 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>14</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d14 }}"-->
<!--                                  disabled>{{ object.d14 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>25</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d25 }}"-->
<!--                                  disabled>{{ object.d25 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>13</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d13 }}"-->
<!--                                  disabled>{{ object.d13 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>26</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d26 }}"-->
<!--                                  disabled>{{ object.d26 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>12</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d12 }}"-->
<!--                                  disabled>{{ object.d12 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>27</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d27 }}"-->
<!--                                  disabled>{{ object.d27 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>11</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d11 }}"-->
<!--                                  disabled>{{ object.d11 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>28</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d28 }}"-->
<!--                                  disabled>{{ object.d28 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>38</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d38 }}"-->
<!--                                  disabled>{{ object.d38 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>41</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d41 }}"-->
<!--                                  disabled>{{ object.d41 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>37</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d37 }}"-->
<!--                                  disabled>{{ object.d37 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>42</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d42 }}"-->
<!--                                  disabled>{{ object.d42 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>36</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d36 }}"-->
<!--                                  disabled>{{ object.d36 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>43</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d43 }}"-->
<!--                                  disabled>{{ object.d43 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>35</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d35 }}"-->
<!--                                  disabled>{{ object.d35 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>44</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d44 }}"-->
<!--                                  disabled>{{ object.d44 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>34</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d34 }}"-->
<!--                                  disabled>{{ object.d34 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>45</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d45 }}"-->
<!--                                  disabled>{{ object.d45 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>33</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d33 }}"-->
<!--                                  disabled>{{ object.d33 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>46</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d46 }}"-->
<!--                                  disabled>{{ object.d46 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>32</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d32 }}"-->
<!--                                  disabled>{{ object.d32 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>47</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d32 }}"-->
<!--                                  disabled>{{ object.d32 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label><b>31</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="{{ object.d31 }}"-->
<!--                                  disabled>{{ object.d31 }}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                      <div class="form-group col-md-6">-->
<!--                        <label><b>{{dente}}</b></label>-->
<!--                            <textarea cols="40" rows="3" class="textarea form-control" value="#"-->
<!--                                  disabled>    {% for doenca in doencas %}-->
<!--                                                    {{ doenca }}-->
<!--                                                {% endfor %}-->
<!--                        </textarea>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </form>-->

        </div>
    </div>
</div>
</div>
{% endblock content %}