{% extends "pacientes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<div class="container">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cormorant+SC:wght@700&family=Tourney:wght@700&display=swap');

        .custom-btn {
          width: 130px;
          height: 40px;
          padding: 10px 25px;
          border: 2px solid #000;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
        }

        .btn-margin {
            margin: 0 10px 0 10px;
        }
        .bold700{
            /*font-family: 'Bungee Shade', cursive;*/
            font-family: 'Fira Code Medium', serif;
            /*font-family: 'Tourney', cursive;*/
            color: #66a1e8;
        }
        .btn-1 {
          transition: all 0.3s ease;
        }
        .btn-1:hover {
           box-shadow:
           -7px -7px 20px 0px #fff9,
           -4px -4px 5px 0px #fff9,
           7px 7px 20px 0px #0002,
           4px 4px 5px 0px #0001;
          background: #66a1e8;
            color: #FFFFFF;
        }
        .btn-2 {
          transition: all 0.3s ease;
        }
        .btn-2:hover {
           box-shadow:
           -7px -7px 20px 0px #fff9,
           -4px -4px 5px 0px #fff9,
           7px 7px 20px 0px #0002,
           4px 4px 5px 0px #0001;
          background: #3CB371;
            color: #FFFFFF;
        }
        .col-sextante{
            padding: 1px 1px 1px 1px;
            margin: 1px 1px 1px 1px;
        }
    </style>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-body" style="padding: 20px 40px 20px 40px"><br>
            <h1 class="bold700 text-center">
                <b>PSR</b>
            </h1>
            <div class="mr-1 text-right" style="padding: 20px 0 40px 40px">
                <a href="{% url 'psr_edit' object.pk %}" class="btn custom-btn btn-2 btn-margin" type="button">
                    <span class="text">Atualizar</span>
                </a>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label><b>Prontuario</b></label>
                    <div>{{ object.prontuario }}</div>
                </div>
                <div class="form-group col-md-4">
                    <label><b>Atualizado Em</b></label>
                    <div>{{ object.updated_at}}</div>
                </div>
                <div class="form-group col-md-4">
                    <label><b>Criado Em</b></label>
                    <div>{{ object.created_at}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label><b>Paciente</b></label>
                    <div>{{ paciente.nome}}</div>
                </div>
            </div>
            <br>
            <div class="row" style="margin-bottom: 20px">
                <div class="col justify-center">
                    <div class="row">
                        <div class="col-sm-2 ">
                            <label><b>Sextante 16V</b></label>
                        </div>
                        <div class="col-sm-1 col-sextante">
                          <div>{{ object.sextante_16v}}</div>
                        </div>
                        <div class="col-sm-2">
                            <label><b>Sextante 11V</b></label>
                        </div>
                        <div class="col-sm-1 col-sextante">
                          <div>{{ object.sextante_11v}}</div>
                        </div>
                        <div class="col-sm-2 ">
                            <label><b>Sextante 26V</b></label>
                        </div>
                        <div class="col-sm-1 col-sextante">
                          <div>{{ object.sextante_26v}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label><b>Sextante 36V</b></label>
                        </div>
                        <div class="col-sm-1 col-sextante">
                          <div>{{ object.sextante_36v}}</div>
                        </div>
                        <div class="col-sm-2">
                            <label><b>Sextante 31V</b></label>
                        </div>
                        <div class="col-sm-1 col-sextante">
                          <div>{{ object.sextante_31v}}</div>
                        </div>
                        <div class="col-sm-2">
                            <label><b>Sextante 46V</b></label>
                        </div>
                        <div class="col-sm-1 col-sextante">
                          <div>{{ object.sextante_46v}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mr-1 text-right">
                <a href="{% url 'sin_vit_cli_detalhes' object.pk %}" class="custom-btn btn-1 btn" type="button">
                    <span class="text">Voltar</span>
                </a>
                <a href="{% url 'odon_detalhes' object.pk %}" class="custom-btn btn-1 btn btn-margin" type="button">
                    <span class="text">Proximo</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}