{% extends "pacientes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-body"><br>
            <h1 class="mb-3 text-primary">
                <b>SINAIS VITAIS CLÍNICOS</b>
            </h1>
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Prontuario</label>
                        <input type="text" class="form-control" value="{{ object.prontuario }}" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Atualizado em:</label>
                        <input type="text" class="form-control" value="{{ object.updated_at}}" name="updated_at"
                               disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Data</label>
                        <input type="text" class="form-control" value="{{ object.created_at}}" name="created_at"
                               disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Pressão Arterial</label>
                        <textarea name="pressao_arterial" cols="40" rows="3" class="textarea form-control" value="{{ object.pressao_arterial }}" id="id_pressao_arterial">{{ object.pressao_arterial }}</textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Pulso</label>
                        <textarea name="pulso" cols="40" rows="3" class="textarea form-control" value="{{ object.pulso }}" id="id_pulso">{{ object.pulso }}</textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Respiração</label>
                        <textarea name="respiracao" cols="40" rows="3" class="textarea form-control" value="{{ object.respiracao }}" id="id_respiracao">{{ object.respiracao }}</textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Temperatura</label>
                        <textarea name="temperatura" cols="40" rows="3" class="textarea form-control" value="{{ object.temperatura }}" id="id_temperatura">{{ object.temperatura }}</textarea>
                    </div>
                </div>
                 <div class="form-row">
                   <div class="form-group col-md-12">
                       <h3>Índice de Placa Visível</h3>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="16v"><b>16V</b></span>
                            <input name="placa_visivel_16v" type="text" class="form-control" value="{{ object.placa_visivel_16v}}" id="id_placa_visivel_16v"  >
                            <span class="input-group-text" id="11v"><b>11V</b></span>
                            <input type="text" class="form-control" value="{{ object.placa_visivel_11v}}" name="placa_visivel_11v" id="id_placa_visivel_11v">
                            <span class="input-group-text" id="26v"><b>26V</b></span>
                            <input type="text" class="form-control" value="{{ object.placa_visivel_26v}}" name="placa_visivel_26v" id="id_placa_visivel_26v">
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="36v"><b>36V</b></span>
                            <input type="text" class="form-control" value="{{ object.placa_visivel_36v}}" name="placa_visivel_36v" id="id_placa_visivel_36v">
                            <span class="input-group-text" id="31v"><b>31V</b></span>
                            <input type="text" class="form-control" value="{{ object.placa_visivel_31v}}" name="placa_visivel_31v" id="id_placa_visivel_31v">
                            <span class="input-group-text" id="46v"><b>46V</b></span>
                            <input type="text" class="form-control" value="{{ object.placa_visivel_46v}}" name="placa_visivel_46v" id="id_placa_visivel_46v">
                        </div>
                    </div>
                     <div class="col-6">
                         <div class="parent">
                            <img src="{% static 'img/odon.jpg' %}" id="odon" alt="some text" width=400>
                         </div>
                     </div>
                </div>
                <div class="form-row">
                </div>
                <div class="mr-1 text-right">
                    <a href="{% url 'sin_vit_cli_detalhes' object.pk %}" class="btn btn-secondary text-white"
                       type="text">Voltar</a>
                    <button type="submit" class="btn btn-primary text-white ">OK</button>
                </div>
            </form>

        </div>
    </div>
</div>
</div>
{% endblock content %}
