{% extends "pacientes/base_new.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
<body>
    <div class="facetas" >
        <a href="#" class="button" id="distal">Distal</a>
        <a href="#" class="button" id="oclusal">Oclusal</a>
        <a href="#" class="button" id="lingual">Lingual</a>
        <a href="#" class="button" id="mesial">Mesial</a>
        <a href="#" class="button" id="vestibular">Vestibular</a>
    </div>
    <div>
        fkdfdjfhjdkhfjkdhkj
    </div>

</body>
{% endblock content%}